<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/catalogo.css">
    
    <title>Catálogo</title>
</head>
<body>
    <main id="container">
        <div class="cont-head">
            <h2>Catálogo De Garotos De Programa</h2>
            <p>Os melhores de FortalCity</p>
        </div>
        <div class="cont-box">
            <div class="cont-cards"> 
                <div class="cards">
                    <img class="card-img" src="./static/images/gabDev.jpg" alt="Gabriel Gostoso">
                    <div class="textos-card"> 
                        <h3 class="card-h3">Gab Safadinho</h3>
                        <p class="card-text">Faço de tudo! Boquete parafuro, borboleta brasileira, frango cozido e mão back.</p>
                    </div>
                </div>
                <div class="cards">
                    <img class="card-img" src="./static/images/abelTocador.jpg" alt="Abel Tocador">
                    <div class="textos-card"> 
                        <h3 class="card-h3">Abel Tocador</h3>
                        <p class="card-text">Toco como ninguem! Sou experiente com mão boba e anal. Você nunca verá uma sentada melhor que a minha!</p>
                    </div>
                </div>
                <div class="cards">
                    <img class="card-img" src="./static/images/luquinhaSensual.jpg" alt="Luqkinhas Sensual">
                    <div class="textos-card"> 
                        <h3 class="card-h3">Luquinhas Sensual</h3>
                        <p class="card-text">Especialista em pole dance e outras danças sensuais. Realizo fetiches e gosto de homens musculosos!</p>
                    </div>
                </div>
                <div class="cards">
                    <img class="card-img" src="./static/images/sidBoleiro.jpg" alt="Sid Boqueteiro">
                    <div class="textos-card"> 
                        <h3 class="card-h3">Sid Boqueteiro</h3>
                        <p class="card-text">Faço tudo por 1 milhão! Profissional de bosquete molhado, seco e tudo mais! Vendo videos sentando em garrafas de 2L, chama!</p>
                    </div>
                </div>
                <div class="cards">
                    <img class="card-img" src="./static/images/matheusTimido.jpg" alt="Matheus Timido">
                    <div class="textos-card"> 
                        <h3 class="card-h3">Matheus Timido</h3>
                        <p class="card-text">Sou um pouco timido, mas na hora H você vai me ver como nunca viu! Me engasgo com mamadas, então prefiro não fazer!</p>
                    </div>
                </div>
                <div class="cards">
                    <img class="card-img" src="" alt="">
                    <div class="textos-card"> 
                        <h3 class="card-h3"> </h3>
                        <p class="card-text"> </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>