<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/catalogo.css">
    
    <title>Catálogo</title>
</head>
<body>
    <main id="container">
        <div class="cont-head">
            <h2>Catálogo De Garotos De Programa</h2>
            <p>Os melhores de FortalCity</p>
        </div>
        <div class="cont-box">
            <div class="cont-cards"> 
                <div class="cards">
                    <img class="card-img" src="./static/images/gabDev.jpg" alt="Gabriel Gostoso">
                    <h3 class="card-h3">Gab Safadinho</h3>
                    <p class="card-text">Faço de tudo! <br>
                    boquete parafuro, borboleta brasileira, frango cozido e mão back.</p>
                </div>
                <div class="cards">
                    <img class="card-img" src="./static/images/gabDev.jpg" alt="Gabriel Gostoso">
                    <h3 class="card-h3">Gab Safadinho</h3>
                    <p class="card-text">Faço de tudo! <br>
                    boquete parafuro, borboleta brasileira, frango cozido e mão back.</p>
                </div>
                <div class="cards">
                    <img class="card-img" src="./static/images/gabDev.jpg" alt="Gabriel Gostoso">
                    <h3 class="card-h3">Gab Safadinho</h3>
                    <p class="card-text">Faço de tudo! <br>
                    boquete parafuro, borboleta brasileira, frango cozido e mão back.</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>